<mat-toolbar color="primary" class="navbar" fxLayout="row" fxLayoutAlign="space-between center">
  <!-- Left Section -->
  <span class="left-items">My Blog</span>

  <!-- Center Section -->
  <span class="center-items" *ngIf="currentUser">
    Hello, {{ currentUser.name ? currentUser.name : currentUser.email }}
  </span>

  <!-- Right Section-->
  <span class="right-items">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/create" *ngIf="currentUser">Create Post</button>
    <ng-container *ngIf="currentUser; else guestLinks">
      <button mat-button (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #guestLinks>
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/register">Register</button>
    </ng-template>

    <!-- <button mat-button (click)="toggleTheme()">
      {{ isDarkTheme ? 'Light Mode' : 'Dark Mode' }}
    </button> -->

    <button mat-button appThemeToggle> 
      {{ isDarkTheme ? 'Light Mode' : 'Dark Mode' }}
    </button>
  </span>
</mat-toolbar>
