<div class="post-list" >
    <mat-card class="post-card" *ngFor="let post of paginatedPosts">

    <mat-card-title >{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{post.authorName}}</mat-card-subtitle>
    <mat-card-content (click)="openPost(post.id)">
        <p>{{ post.content | limitWords:20}}</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="onLike(post)">
            ({{ post.likedBy && currentUser && post.likedBy.includes(currentUser.id) ?'Unlike' :'Like'}} {{post.likes}})
        </button>
    </mat-card-actions>
    </mat-card>
</div>

<mat-paginator [length]="totalPosts"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 20]"
                (page)="onPageChange($event)">
</mat-paginator>
